@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}

* {
    outline: none;
}

.form-control::placeholder {
    font-size: 18px !important;
    font-weight: normal;
}

.form-control {
    color: rgb(10, 36, 59);
    border: 1px solid white;
    border-bottom: 1px solid black;
    outline: none !important;
}

input[type=text],
[type=email],
[type=password],
[type=phone] {
    transition: ease-in-out, width .35s ease-in-out;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}

input:focus {
    outline-width: 0;
    width: 90%;
    outline: none !important;
    border: 0;
}

span {
    color: rgb(240, 57, 57);
    padding-left: 2%;
}

label.cabinet {
    display: block;
    cursor: pointer;
}

label.cabinet input.file {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0);
    margin-top: -30px;
}

#upload-demo {
    width: 250px;
    height: 250px;
    padding-bottom: 25px;
}

figure figcaption {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding-left: 9px;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #000;
}