<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <title>Friend List</title>
</head>

<body>
    <section class="user">
        <h3 class="text-center mt-4 mb-4">Friend List</h3>
        <div class="info">
            <table class="table" style="overflow-x:auto;">
                <tr class="text-center title">
                    <th>#</th>
                    <th>Email Address</th>
                    <th>Username</th>
                    <th>Contact No.</th>
                </tr>

            </table>
        </div>
    </section>
    <script type="text/javascript" src="../assets/js/common/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/common/bootstrap.min.js"></script>
</body>

</html>