<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/css/profilepic.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/register.css">
    <link rel="stylesheet" href="../assets/css/croppie.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <title>Register</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <form id="form">
                        <div class="row">
                            <div class="col text-center">
                                <h1>Sign Up</h1>

                                <div class="row justify-content-center">
                                    <div id="upload-image"></div>
                                </div>
                                <div class="row justify-content-center">
                                    <p><input type="file" id="images" class="btn btn-success" name="images"></p>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col mt-4">
                                <input type="text" class="form-control" placeholder="Username" id="username" name="username">
                                <span></span>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="First Name" id="fname" name="firstName">
                                <span></span>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Last Name" id="lname" name="lastName">
                                <span></span>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email" id="email" name="email">
                                <span></span>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Password" id="pass1" name="pass1">
                                <span></span>
                            </div>
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Confirm Password" id="pass2" name="password">
                                <span></span>
                            </div>
                        </div>
                        <div class="row align-items-center mt-4">
                            <div class="col">
                                <input type="phone" class="form-control" placeholder="Phone Number" id="phone" name="phone">
                                <span></span>
                            </div>
                        </div>
                        <div class="row justify-content-center mt-2">
                            <button type="submit" class="btn btn-primary mt-2 mb-4 submit">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script rel="stylesheet" type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script rel="stylesheet" type="text/javascript" src="../assets/js/croppie.js"></script>
    <script rel="stylesheet" type="text/javascript" src="../assets/js/register.js"></script>
    <script rel="stylesheet" type="text/javascript" src="../assets/js/profilePic.js"></script>
</body>

</html>